html,
body {
  height: 100%;
  margin: 0;
}
/* Full-screen background image */
.home-background {
  background-image: url("../images/home.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* Overlay text styling */
.home-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  color: #000;
  font-family: 'Georgia', serif;
}
.home-overlay h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.home-overlay p {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.8;
}
/* Make bg + overlay fade in together */
.home-background,
.home-overlay {
  opacity: 0;
  animation: homeFadeIn 0.35s ease-out forwards;
}
.home-overlay .home-cn {
  font-family: "Songti SC", "STSong", "SimSun", "Source Han Serif SC", serif;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 2px; /* nice for Chinese titles */
  line-height: 1.2;
  margin: 0 0 10px 0;
}
.home-overlay .home-en {
  font-family: "Georgia", serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}
@-moz-keyframes homeFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes homeFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes homeFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes homeFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
