html,
body {
  height: 100%;
  margin: 0;
}
/* Full-screen background image */
.home-background {
  background-image: url("/images/home.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* Overlay text styling */
.home-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  color: #000;
  font-family: 'Georgia', serif;
}
.home-overlay h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.home-overlay p {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.8;
}
